# สถิติ t-test 
ใช้ทดสอบความแตกต่างหรือเปรียบเทียบค่าเฉลี่ยของกลุ่มตัวอย่าง 2 กลุ่ม <br/>
ใช้สำหรับการทดสอบข้อมูลที่มีการแจกแจงแบบปกติ (Normal Distribution) สำหรับตัวอย่าง 2 กลุ่ม มี 2 ลักษณะคือเป็นตัวอย่างที่อิสระกัน 
<hr/>

In [243]:
import pandas as pd
import numpy as np
from scipy import stats

In [244]:
data = pd.read_csv('~/Desktop/score.csv')

In [245]:
data.head()

   score  class
0     18      1
1     19      1
2     16      1
3     15      1
4     14      1

แบ่งแยกข้อมูลหระหว่างห้องที่ 1 และ 2 จากข้อมูลต้นฉบับ

In [246]:
class_1 = data[data['class']==1]
class_2 = data[data['class']==2]

In [247]:
class_1

   score  class
0     18      1
1     19      1
2     16      1
3     15      1
4     14      1

In [248]:
class_2

   score  class
5     12      2
6     14      2
7     13      2
8     15      2
9     10      2

# การเตรียมข้อมูลเพื่อทดสอบสถิติ t-test
การใช้ stat.ttest_ind สำหรับการทำสอบสถิติแบบ t-test นั้น<br/>
ต้องจัดเตียมข้อมูลให้อยู่ในรูปแบบของ numpy array<br/>
ดึงข้อมูลเฉพาะข้อมูลคะแนนออก Data Frame และเก็บไว้ในโครงสร้างของ numpy array<br/>

In [249]:
score_class_1 = np.array(class_1.loc[:, 'score'])
score_class_2 = np.array(class_2.loc[:, 'score'])

In [250]:
score_class_1

array([18, 19, 16, 15, 14])

In [251]:
score_class_2

array([12, 14, 13, 15, 10])

# ทดสอบสถิติ t-test

ใช้ stats.ttest_ind ใน scipy สำหรับทดสอบค่าสถิติ t-test

In [252]:
stats.ttest_ind(score_class_1, score_class_2)

Ttest_indResult(statistic=2.8460498941515397, pvalue=0.021609929106014593)

# ตรวจสอบความแตกต่างของค่าเฉลี่ยคะแนนระหว่าง 2 ห้อง

In [253]:
mean_of_class = pd.DataFrame({'1.Mean':{
                                'Class 1': score_class_1.mean(), 
                                'Class 2': score_class_2.mean() },
                              
                              '2. Upper':{
                                'Class 1': len([x for x in score_class_1 if x >= score_class_1.mean()]),
                                'Class 2': len([x for x in score_class_2 if x >= score_class_2.mean()]) },
                              
                              '3. Lower':{
                                'Class 1': len([x for x in score_class_1 if x < score_class_1.mean()]),
                                'Class 2': len([x for x in score_class_2 if x < score_class_2.mean()]) }
                             })

แสดงผลการเปลียบเทียบความแต่ต่างค่าเฉลี่ยของคะแนนสอบทั้งสองห้อง

In [254]:
mean_of_class

         1.Mean  2. Upper  3. Lower
Class 1    16.4         2         3
Class 2    12.8         3         2

# คำอธิบายการทดสอบทางสถิติ t-test

<ul>
<li>ถ้าค่า pvalue น้อยกว่า 0.05 แสดงว่าจะปฏิเสธ H0 หมายถึง สองกลุ่ม <strong>'มี'</strong> ความแตกต่างกันอย่างมีนัยสำคัญ <br/></li>
<li>ถ้าค่า pvalue มากกว่า 0.05 แสดงว่าไม่สามารถปฏิเสธ H0 หมายถึง สองกลุ่ม <strong>'ไม่มี'</strong> ความแตกต่างกันอย่างมีนัยสำคัญ</li>
</ul>

# ข้อสรุปจากการวิเคราะห์ข้อมูล

การวิเคราะห์ข้อมูลคะแนนสอบของนักศึกษา 2 ห้อง โดยใช้การตรวจสอบทางสถิติ t-test พบว่า <br/>
<strong>มีค่า pvalue เท่ากับ 0.027</strong> ซึ่งน้อยกว่า 0.05 ซึ่งทำให้ทราบว่า <br/>
คะแนนสอบของนักศึกษา 2 ห้องดังกว่า <strong>มีความแตกต่างกันอย่างมีนัยสำคัญ</strong>
<hr/>
และจากการตรวจสอบค่าเฉลี่ยของคะแนนสอบระหว่างทั้ง 2 ห้อง <strong>พบว่า ห้องที่ 1 มีค่าเฉลี่ยคะแนนสูงกว่าห้องที่ 2</strong><br/><br/>
<strong>โดยห้องที่ 1</strong> มีนักศึกษาจำนวน 5 คน มีคะแนนสอบเฉลี่ยเท่ากับ 16.40
<ul>
<li>มีนักศึกษาจำนวน 2 คน ที่มีคะแนนสอบ สูง กว่าค่าเฉลี่ย และ</li>
<li>มีนักศึกษาจำนวน 3 คน ที่มีคะแนนสอบ ต่ำ กว่าค่าเฉลี่ย</li>
</ul>
<br/>
<strong>โดยห้องที่ 2</strong> มีนักศึกษาจำนวน 5 คน มีคะแนนสอบเฉลี่ยเท่ากับ 12.80
<ul>
<li>มีนักศึกษาจำนวน 3 คน ที่มีคะแนนสอบ สูง กว่าค่าเฉลี่ย และ</li>
<li>มีนักศึกษาจำนวน 2 คน ที่มีคะแนนสอบ ต่ำ กว่าค่าเฉลี่ย</li>
</ul>