# การวิเคราะห์สถิติค่าเฉลี่ยตัวอย่างกลุ่มเดียว (one sample t-test)

การวิเคราะห์สถิติค่าเฉลี่ยตัวอย่างกลุ่มเดียว (one sample t-test) เป็นการทดสอบกลุ่มตัวอย่างกลุ่มเดียวว่าผลการทดสอบนั้นเป็นไปตามเกณฑ์ที่กำหนดหรือไม่ จึงมักเรียกวิธีการทดสอบนี้ว่า การทดสอบค่าเฉลี่ยกับเกณฑ์

### ตัวอย่างที่ 1

จากการศึกษารายได้เฉลี่ยของพนักงานเพื่อปรับขึ้นเงินเดือน เข้าของบริษัทจึงทำการสุ่มเงินเดือนของพนักงานจากแผนกต่าง ๆ ว่ามีรายได้เท่ากับ 18,000 บาทหรือไม่ โดยการสุ่มเลือกมาจำนวน 15 คนดังต่อไปนี้

15400, 16500, 17500, 18500, 19000, <br/> 
19500, 18700, 18900, 17900, 18300, <br/> 
20000, 23000, 19400, 16900, 17300

จงตรวจสอบว่ารายได้เฉลี่ยของพนักงานแต่ละแผนกเท่ากับ 18,000 บาทหรือไม่ ที่ระดับนัยสำคัญ 0.05

## กระบวนการวิเคราะห์

**ขั้นที่ 1 : ตั้งสมติฐาน**
ให้ mu แทนค่าเฉลี่ยของรายได้ของพนักงานจากแผนกต่าง ๆ <br/>
โดย<br/>
H0 : mu = 18,000 <br/>
H1 : mu != 18,000 <br/>
<br/>
**ขั้นที่ 2 : กำหนดระดับนัยสำคัญทางสถิติ**<br/>
ระดับนัยสำคัญในการทดสอบ เท่ากับ 0.05<br/>

**ขั้นที่ 3 : คำนวณค่าสถิติที่ใช้ในการทดสอบสมมติฐาน**<br/>

In [120]:
%matplotlib inline

import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

กำหนดตัวอย่าง

In [119]:
data = [15400, 16500, 17500, 
        18500, 19000, 19500, 
        18700, 18900, 17900, 
        18300, 20000, 23000, 
        19400, 16900, 17300]

แปลงข้อมูลป้อนเข้าจาก list ให้อยู่ในรูปของ array

In [121]:
arr = np.array(data)

กำหนดสมมติฐาน H0 โดยให้ ค่า mu เท่ากับ 18,000

In [122]:
true_mu = 18000

ใช้สถิติทดสอบ one sample t-test 
โดยเรียกใช้จากโมดูล stats

In [123]:
onesample_results = stats.ttest_1samp(arr, true_mu)

In [124]:
df = pd.DataFrame({"1. Mean":[arr.mean()],
                   "2. S.D.":[np.std(arr)],
                   "3. Test Statistics":[onesample_results[0]],
                   "4. Sig":[onesample_results[1]]})

In [118]:
df.round(3).transpose()

                            0
1. Mean             18453.333
2. S.D.              1707.578
3. Test Statistics      0.993
4. Sig                  0.337

**ขั้นที่ 4 : สรุปผลการทดสอบสมมติฐาน (โดยใช้ Sig)**<br/>

เนื่องจาก Sig(0.337) > 0.05 ดังนั้นไม่สามารถปฏิเสธสมมติฐาน H0 ได้

นั้นคือ รายได้เฉลี่ยของพนักงานแต่ละแผนกเท่ากับ 18,000 บาท ภายได้ระดับนัยสำคัญ 0.05