# การประมวลผลแบบสอบถามเพื่อหาค่า Mean และ Standard Deviation

In [17]:
import pandas as pd
import numpy as np
import math

In [18]:
df = pd.read_csv('~/ResearchCode/NoteBook/Stats/descriptive/data/25986_data_head.csv')

In [19]:
df.head()

,id,department,status,a1,a2,a3,a4,a5,a6,a7,...,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20
0,1,งานอธิการบดี,3,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5.0,5,5.0,5
1,2,งานอธิการบดี,3,4,3,4,5,4,5,5,...,5,5,5,5,5,5,4.0,4,5.0,5
2,3,งานอธิการบดี,1,5,4,5,5,5,5,4,...,5,5,4,5,5,5,5.0,4,5.0,5
3,4,งานอธิการบดี,3,4,3,2,2,2,2,2,...,2,2,2,3,2,1,1.0,1,1.0,1
4,5,งานอธิการบดี,3,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4.0,4,4.0,4

### ตรวจสอบคุณลักษณะของข้อมูล

In [20]:
df.dtypes

id              int64
department     object
status          int64
a1              int64
a2              int64
a3              int64
a4              int64
a5              int64
a6              int64
a7              int64
a8              int64
a9              int64
a10             int64
a11             int64
a12             int64
a13             int64
a14             int64
a15             int64
a16             int64
a17           float64
a18             int64
a19           float64
a20             int64
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 23 columns):
id            61 non-null int64
department    61 non-null object
status        61 non-null int64
a1            61 non-null int64
a2            61 non-null int64
a3            61 non-null int64
a4            61 non-null int64
a5            61 non-null int64
a6            61 non-null int64
a7            61 non-null int64
a8            61 non-null int64
a9            61 non-null int64
a10           61 non-null int64
a11           61 non-null int64
a12           61 non-null int64
a13           61 non-null int64
a14           61 non-null int64
a15           61 non-null int64
a16           61 non-null int64
a17           60 non-null float64
a18           61 non-null int64
a19           60 non-null float64
a20           61 non-null int64
dtypes: float64(2), int64(20), object(1)
memory usage: 11.0+ KB

### ตรวจสอบ Missing Value ในแต่ละ Column

In [22]:
df.isnull().any()

id            False
department    False
status        False
a1            False
a2            False
a3            False
a4            False
a5            False
a6            False
a7            False
a8            False
a9            False
a10           False
a11           False
a12           False
a13           False
a14           False
a15           False
a16           False
a17            True
a18           False
a19            True
a20           False
dtype: bool

### แทนค่า Missing Value ด้วยค่า mean ของแต่ละ Column

In [23]:
df["a17"].fillna(df["a17"].mean(), inplace=True)
df["a19"].fillna(df["a19"].mean(), inplace=True)

ลบ Column ที่ไม่จำเป็นต่อการคำนวนออกไป

In [24]:
#Delete column by col-name 
df = df.drop(['id', 'status', 'department'], axis=1)

In [25]:
print(df.describe())

              a1         a2         a3         a4         a5         a6  \
count  61.000000  61.000000  61.000000  61.000000  61.000000  61.000000
mean    4.360656   4.196721   4.180328   4.393443   4.229508   4.426230
std     0.548719   0.678716   0.763941   0.639757   0.761434   0.644438
min     3.000000   3.000000   2.000000   2.000000   2.000000   2.000000
25%     4.000000   4.000000   4.000000   4.000000   4.000000   4.000000
50%     4.000000   4.000000   4.000000   4.000000   4.000000   4.000000
75%     5.000000   5.000000   5.000000   5.000000   5.000000   5.000000
max     5.000000   5.000000   5.000000   5.000000   5.000000   5.000000

              a7         a8         a9        a10        a11        a12  \
count  61.000000  61.000000  61.000000  61.000000  61.000000  61.000000
mean    4.098361   4.163934   4.278689   4.213115   4.344262   4.442623
std     0.768221   0.799590   0.710191   0.777062   0.727673   0.695811
min     2.000000   2.000000   3.000000   2.000000   2.000000   2.000000
25%     4.000000   4.000000   4.000000   4.000000   4.000000   4.000000
50%     4.000000   4.000000   4.000000   4.000000   4.000000   5.000000
75%     5.000000   5.000000   5.000000   5.000000   5.000000   5.000000
max     5.000000   5.000000   5.000000   5.000000   5.000000   5.000000

             a13        a14        a15        a16        a17        a18  \
count  61.000000  61.000000  61.000000  61.000000  61.000000  61.000000
mean    4.180328   4.163934   3.934426   4.163934   4.083333   4.147541
std     0.806395   0.756755   0.980966   0.879021   0.842450   0.792382
min     2.000000   3.000000   2.000000   1.000000   1.000000   1.000000
25%     4.000000   4.000000   3.000000   4.000000   4.000000   4.000000
50%     4.000000   4.000000   4.000000   4.000000   4.000000   4.000000
75%     5.000000   5.000000   5.000000   5.000000   5.000000   5.000000
max     5.000000   5.000000   5.000000   5.000000   5.000000   5.000000

             a19        a20
count  61.000000  61.000000
mean    4.100000   4.180328
std     0.830662   0.885216
min     1.000000   1.000000
25%     4.000000   4.000000
50%     4.000000   4.000000
75%     5.000000   5.000000
max     5.000000   5.000000

### ทำการหาค่า Mean และ Std ของแต่ละ Column

In [26]:
result = {'Mean': pd.Series(df.mean()), 'SD': pd.Series(df.std())}

In [27]:
result_df = pd.DataFrame(result)
result_df

         Mean        SD
a1   4.360656  0.548719
a2   4.196721  0.678716
a3   4.180328  0.763941
a4   4.393443  0.639757
a5   4.229508  0.761434
a6   4.426230  0.644438
a7   4.098361  0.768221
a8   4.163934  0.799590
a9   4.278689  0.710191
a10  4.213115  0.777062
a11  4.344262  0.727673
a12  4.442623  0.695811
a13  4.180328  0.806395
a14  4.163934  0.756755
a15  3.934426  0.980966
a16  4.163934  0.879021
a17  4.083333  0.842450
a18  4.147541  0.792382
a19  4.100000  0.830662
a20  4.180328  0.885216

### แสดงค่า Mean และ Std ของข้อมูลทั้งหมด

In [28]:
print("Total Mean is : %.2f" %result_df['Mean'].mean())
print("Total Std is  : %.2f" %df.stack().std())

Total Mean is : 4.21
Total Std is  : 0.77

## ทดสอบค้นหาค่า Standard Deviation โดยใช้โค๊ดจาก Internet

In [29]:
total_sum = 0
mean = result_df['Mean'].mean()

length = 0
for value in df.stack():
    total_sum += (value - mean)**2
    length += 1
    
tot_std = math.sqrt(total_sum/(length))

print("Total Std is : %.2f" %tot_std)

Total Std is : 0.77

## ทดสอบค้นหาค่า Standard Deviation ของข้อมูลเอง

In [30]:
df_matrix = df.astype(int).as_matrix()
df_matrix

array([[5, 5, 5, ..., 5, 5, 5],
       [4, 3, 4, ..., 4, 5, 5],
       [5, 4, 5, ..., 4, 5, 5],
       ...,
       [4, 4, 4, ..., 5, 5, 5],
       [4, 4, 4, ..., 4, 4, 5],
       [4, 4, 4, ..., 4, 4, 4]])

In [31]:
row, col = df_matrix.shape

total = 0
length = 0

for i in range(0, col):
    mean = np.mean(df_matrix[:, i])
    
    total_col = 0
    for value in df_matrix[:, i]:
        total_col += (value - mean)**2
        length += 1
    
    total += total_col
    
std_sqr = total / length
std = math.sqrt(std_sqr)

print("Total Std is : %.2f" %std)

Total Std is : 0.76

## ทดสอบค้นหา Standard Deviation โดยใช้ฟังก์ชันของ Matrix

In [32]:
print("Total Std is : %.2f" %df_matrix.std())

Total Std is : 0.77